<launch>

  <arg name="scale" default="700" />
  <arg name="port" default="4003" />
  <arg name="stdout" default="screen" />
  <arg name="net_name" default="didi" />

  <param name="/birdview/grid_dim" value="70" />
  <param name="/birdview/cell_size" value="0.1" />

  <include file="$(find didi_challenge)/launch/laser_birdview.launch">
    <arg name="grid_dim" value="70" />
    <arg name="cell_size" value="0.1" />
  </include>

  <!-- OBJECT DETECTION BRANCH -->
  <group ns="cnn">
    <param name="port" value="$(arg port)" />
    <!-- First stage -->
    <node pkg="cnn_detection" type="image_sender_idx" name="image_sender" output="$(arg stdout)" required="true">
      <remap from="/stereo_camera/left/image_rect_color" to="/bird_view"/>
    </node>

    <!-- Faster R-CNN classifier - Modified for ROIs inclusion-->
    <node pkg="cnn_detection" type="stream.py" name="stream_classify" output="$(arg stdout)" required="true">
      <param name="~use_external_rois" value="False" />
      <param name="~scale" value="$(arg scale)" />
      <param name="~net" value="$(arg net_name)" />
      <param name="~gpu_id" value="1" />
    </node>

    <!-- NMS-->
    <node pkg="cnn_detection" type="nms_detections.py" name="nms" output="$(arg stdout)" required="true">
      <param name="~y_offset" value="0" />
      <param name="~net" value="$(arg net_name)" />
      <param name="~gpu_id" value="1" />
    </node>
  </group>

  <include file="$(find didi_challenge)/launch/smart_tracker.launch" />
  <include file="$(find didi_challenge)/launch/interpolation.launch" />
  <include file="$(find didi_challenge)/launch/tracklet_gen.launch" />
</launch>
